<div class="container-fluid bg-light">
    <div class="col-md-10 offset-md-1">
        <div class="card mt-5">
            <div class="card-header">Update Data Perusahaan</div>
            <div class="card-body">
                <a routerLink="/companies" class="btn btn-secondary mb-4">Kembali</a>
                <form class="row" #formCompanyUpdate="ngForm" (ngSubmit)="formCompanyUpdate.valid && submit()">
                    <div class="col-md-2 mt-1 mb-1">
                        <label for="companyCode" class="form-label">Kode Perusahaan<span
                                class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-4 mt-1 mb-1">
                        <input type="text" name="companyCode" id="companyCode" class="form-control" value="{{companyResDto.data.companyCode}}" required disabled>
                    </div>
                    <div class="col-md-2 mt-1 mb-1">
                        <label for="companyName" class="form-label">Nama Perusahaan<span
                                class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-4 mt-1 mb-1">
                        <input type="text" name="companyName" id="companyName" class="form-control" [(ngModel)]="companyUpdateReqDto._companyName" required>
                    </div>
                    <div class="col-md-2 mt-1 mb-1">
                        <label for="companyAddress" class="form-label">Alamat Perusahaan<span
                                class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-4 mt-1 mb-1">
                        <textarea name="companyAddress" id="companyAddress" class="form-control" [(ngModel)]="companyUpdateReqDto._companyAddress" required></textarea>
                    </div>
                    <div class="col-md-2 mt-1 mb-1">
                        <label for="photo" class="form-label">Upload foto</label>
                    </div>
                    <div class="col-md-4 mt-1 mb-1">
                        <input class="form-control" type="file" id="photo" (change)="fileUpload($event)">
                    </div>
                    <div class="col-md-2 mt-1 mb-1">
                        <label for="isActive" class="form-label">Aktif<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-4 mt-1 mb-1">
                        <input type="radio" name="isActive" id="true" class="form-check-input" [(ngModel)]="companyUpdateReqDto._isActive" [value]="true">
                        <label for="true" class="form-check-label">True</label>
                        <input type="radio" name="isActive" id="false" class="form-check-input"[(ngModel)]="companyUpdateReqDto._isActive" [value]="false">
                        <label for="false" class="form-check-label">False</label>
                    </div>
                    <div class="col-md-12 mt-4 mb-1">
                        <button [disabled]="formCompanyUpdate.invalid" class="btn btn-primary" type="submit" id="updateCompany">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>