<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-10 offset-md-1 mt-3">
            <div class="card">
                <div class="card-header">
                    Ganti Password
                </div>
                <div class="card-body">
                    <a routerLink="/profile/super-admin" class="btn btn-secondary mb-4">Kembali</a>
                    <form class="row mt-3" #formUserUpdate="ngForm" (ngSubmit)="formUserUpdate.valid && submit()">
                        <div class="col-md-2 mt-1 mb-1">
                            <label for="oldPassword" class="form-label">Old Password<span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="col-md-4 mt-1 mb-1">
                            <input type="password" name="oldPassword" id="oldPassword" class="form-control" [(ngModel)]="userUpdateReqDto._oldPassword" required>
                        </div>
                        <div class="col-md-2 mt-1 mb-1">
                            <label for="password" class="form-label">Password<span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="col-md-4 mt-1 mb-1">
                            <input type="password" name="password" id="password" class="form-control" [(ngModel)]="userUpdateReqDto._password" required>
                        </div>
                        <div class="col-md-2 mt-1 mb-1">
                            <label for="cpassword" class="form-label">Konfirmasi Password<span
                                    class="text-danger">*</span></label>
                        </div>
                        <div class="col-md-4 mt-1 mb-1">
                            <input type="password" name="cpassword" id="cpassword" class="form-control" [(ngModel)]="confirmPassword" required>
                        </div>
                        <div class="col-md-12 mt-4 mb-1">
                            <button [disabled]="formUserUpdate.invalid" class="btn btn-primary" type="submit" id="updatePassword">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>