<div class="container-fluid bg-light">

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card mt-5">
                <div class="card-header">Data Produk</div>
                <div class="card-body">
                    <a routerLink="/products/new" class="btn btn-primary">Create</a>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Kode Produk</th>
                                    <th>Nama Produk</th>
                                    <th>Aktif</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of productListResDto.data ; index as i">
                                    <td>{{i+1}}</td>
                                    <td>{{p.productCode}}</td>
                                    <td>{{p.productName}}</td>
                                    <td>{{p.isActive}}</td>
                                    <td>
                                        <div class="btn-group">
                                            <a routerLink="/products/edit/{{p.id}}" class="btn btn-primary">Update</a>
                                            <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                                data-bs-target="#deleteModal" (click)="deleteById(p.id)">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    Apakah anda akan menghapus data ini?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="remove()">Ya</button>
                </div>
            </div>
        </div>
    </div>

</div>