<div class="container-fluid bg-light">

    <div class="row mt-5">

        <div class="col-md-10 offset-md-1">

            <div class="card">
                <div class="card-header">
                    Dashboard
                </div>
                <div class="card-body">
                    <div class="row justify-content-evenly">
                        <div class="card col-md-4 text-bg-danger mb-3" style="max-width: 18rem; max-height: 9rem;">
                            <div class="card-header">Status Tiket</div>
                            <div class="card-body">
                                <h5 class="card-title">Re-Open</h5>
                                <p class="card-text">2</p>
                            </div>
                        </div>
                        <div class="card col-md-4 text-bg-warning mb-3" style="max-width: 18rem; max-height: 9rem;">
                            <div class="card-header">Status Tiket</div>
                            <div class="card-body">
                                <h5 class="card-title">Open</h5>
                                <p class="card-text">12</p>
                            </div>
                        </div>
                        <div class="card col-md-4 text-bg-info mb-3" style="max-width: 18rem; max-height: 9rem;">
                            <div class="card-header">Status Tiket</div>
                            <div class="card-body">
                                <h5 class="card-title">Closed</h5>
                                <p class="card-text">100</p>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-evenly">
                        <div class="card col-md-4 text-bg-danger mb-3" style="max-width: 18rem; max-height: 9rem;">
                            <div class="card-header">Prioritas Tiket</div>
                            <div class="card-body">
                                <h5 class="card-title">High</h5>
                                <p class="card-text">5</p>
                            </div>
                        </div>
                        <div class="card col-md-4 text-bg-warning mb-3" style="max-width: 18rem; max-height: 9rem;">
                            <div class="card-header">Prioritas Tiket</div>
                            <div class="card-body">
                                <h5 class="card-title">Medium</h5>
                                <p class="card-text">9</p>
                            </div>
                        </div>
                        <div class="card col-md-4 text-bg-info mb-3" style="max-width: 18rem; max-height: 9rem;">
                            <div class="card-header">Prioritas Tiket</div>
                            <div class="card-body">
                                <h5 class="card-title">Low</h5>
                                <p class="card-text">10</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>